body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.leaflet-container {
  height: 1000px;
  width: 100%;
}

.btn {
    background-color: #3399cc;
    background-size: 0% 100%;
    border: none;
    border-radius: 4px;
    color: #fff;
    display: inline-block;
    font-size: 20px;
    outline: none;
    padding: 10px 30px;
    margin: 10px 10px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

.btn.enabled {
    background-color: green;
    cursor: default;
}

img.logo {
  max-width: 200px;
}

div.center {
  margin: 0 auto;
  display: block;
  text-align: center;
  width: 50%;
}

div.center h4 {
  text-align: left;
}


@media only screen and (max-width: 600px) {

  html, body {
    overflow: hidden;
    overflow: hidden;
  }

  body {
    position: relative;
    height: 100vh;
  }

  div.logo-container {
    display: none;
  }

  div.tool-container {
    padding-top: 60px;
    width: 100%;
    height: 20vh;
  }

  div.opacity-container {
    width: 80%;
    display: block;
    margin: 0 auto;
  }

  div.opacity-container h4 {
    display: none;
  }

  .leaflet-container {
    height: 80vh;
  }


  p {
    display:none;
  }

  .btn {
    width: 18%;
    text-align: center;
    margin: 2px;
  }

  .btn span.tool-text {
    display: none;
  }

}
